.m-home {
  background-color: white; }
  .m-home img {
    width: 80px;
    height: 100px; }

.m-color-white {
  color: white; }

.m-sidenav {
  width: 280px; }
  .m-sidenav h1 {
    color: white;
    text-align: center; }
  .m-sidenav md-content {
    background-color: #1EAAF1; }
  .m-sidenav md-list-item {
    color: white; }
    .m-sidenav md-list-item:hover {
      background-color: #0277BD; }
  .m-sidenav .m-title {
    color: white;
    text-decoration: none; }

.m-bg-list-item {
  background-color: #0277BD; }

.m-content {
  height: 100vh; }

.m-taps {
  background-color: white; }
  .m-taps md-tab {
    background-color: white; }

.m-tree #tree1 {
  margin: 0 auto;
  text-align: center; }

.m-tree .node circle {
  fill: steelblue;
  stroke-width: 1.5px;
  stroke: #fff; }

.m-tree .node {
  font: 10px sans-serif;
  cursor: pointer; }

.m-tree .link {
  fill: none;
  stroke: #ccc;
  stroke-opacity: 0.6;
  stroke-width: 1.5px; }

.m-tree .m-dialog {
  width: 30%; }

.m-text-tree button {
  font-size: 14px;
  background-color: #666;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.11));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.25)), color-stop(1, rgba(255, 255, 255, 0.11)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.11));
  color: #fff;
  text-rendering: optimizeLegibility;
  text-shadow: 0 -1px 1px #222;
  padding: 6px 10px 6px 10px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #222;
  margin: 0;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999; }

.m-text-tree button.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.m-text-tree button.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.m-text-tree button:hover {
  background-color: #f60; }

.m-text-tree svg {
  overflow: hidden; }

.m-text-tree html,
.m-text-tree body {
  margin: 0;
  padding: 0; }

.m-text-tree body {
  font-family: Georgia, serif; }

.m-text-tree path {
  fill: none;
  stroke: #666;
  stroke-width: .5px; }

.m-text-tree text {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.m-text-tree svg:not(.hover) text:hover,
.m-text-tree .hover tspan:hover {
  fill: #f99; }

.m-text-tree #header {
  background: #f5f5f5;
  padding: 10px 0 5px;
  border-bottom: solid #ddd 1px;
  height: 30px; }

.m-text-tree .grey {
  background: #f5f5f5;
  margin: 20px 0;
  padding: 0;
  border: solid #ddd 1px;
  border-left: none;
  border-right: none; }

.m-text-tree .thumb a {
  color: #000;
  font-weight: bold;
  text-decoration: none; }

.m-text-tree .thumb:hover a {
  color: #f60; }

.m-text-tree #vis {
  position: absolute;
  top: 45px;
  left: 10px;
  bottom: 0;
  right: 310px; }

.m-text-tree #text {
  width: 300px;
  position: absolute;
  top: 46px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  font-family: "Andale Mono", "Courier New", "Courier", monospace; }

.m-text-tree #text a {
  text-decoration: none;
  color: #000; }

.m-text-tree #text a.highlight {
  background: #ff9;
  color: #000; }

.m-text-tree #text a:hover {
  text-decoration: underline; }

.m-text-tree #text .row {
  height: 20px; }

.m-text-tree rect {
  fill: none;
  stroke: #ddd; }

.m-text-tree rect.page {
  fill: #ff9;
  stroke: #000;
  fill-opacity: .7;
  cursor: move; }

.m-text-tree line {
  stroke: #000; }

.m-text-tree input {
  vertical-align: middle; }

.m-text-tree .label-small,
.m-text-tree .help {
  font-size: 10px;
  line-height: 25px;
  display: block;
  color: #999;
  font-style: italic; }

.m-text-tree #form-source {
  display: inline-block; }

.m-text-tree #form {
  display: none; }

.m-text-tree .left {
  float: left; }

.m-text-tree .right {
  float: right; }

.m-text-tree #logo a {
  text-decoration: none;
  color: #000;
  text-transform: lowercase; }

.m-text-tree #logo a:hover {
  color: #f60; }

.m-text-tree #paste {
  width: 100%;
  height: 100px;
  border: solid #ccc 1px; }

.m-text-tree h2 {
  font-weight: 300;
  font-size: 1.5em; }

.m-text-tree .copyright {
  display: none; }

.m-text-tree .icon path {
  fill: #000;
  stroke: none; }

.m-text-tree .icon {
  cursor: pointer;
  margin-top: -3px;
  float: left; }

.m-text-tree .icon:hover path {
  fill: #e60; }

.m-text-tree #help-window {
  position: absolute;
  top: 45px;
  border-top: solid #ccc 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  overflow-y: scroll; }

.m-text-tree .center {
  text-align: center; }

.m-text-tree #logo {
  margin: 0;
  font-size: 2em;
  line-height: 25px;
  float: left;
  margin-right: 1em;
  padding: 0; }

.m-text-tree #logo svg {
  margin-right: 8px; }

.m-text-tree .wrapper {
  width: 800px;
  margin: 0 auto;
  text-align: justify; }

.m-text-tree #source,
.m-text-tree #keyword {
  width: 300px;
  margin-top: 0px;
  box-sizing: border-box;
  position: relative;
  padding: 5px 20px 5px 8px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none; }

.m-text-tree #source:focus,
.m-text-tree #keyword:focus {
  border-color: #f60; }

.m-text-tree .thumb {
  width: 180px;
  height: 220px;
  text-align: center;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px; }

.m-text-tree .thumb img {
  width: 180px;
  border: none; }

.m-text-tree .clear {
  clear: both; }

.m-text-tree #form label {
  cursor: pointer;
  color: #333; }

.m-text-tree #help-left {
  font-size: 10px;
  color: #999;
  font-style: italic;
  padding: 5px 10px;
  width: 250px; }

.m-nlu .m-chart md-tabs {
  height: 298px; }
