<md-sidenav class="md-sidenav-left m-sidenav" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <h1>
            <a class="md-display-1 m-title" href="/">
                <strong>StatNLP Playground</strong>
            </a>
        </h1>
    </md-toolbar>
    <md-content>
        <md-subheader class="md-primary">Results and Prediction</md-subheader>
        <md-list-item md-ink-ripple="#ffffff" ng-click="null">
            <p>
                <strong>Natural Language (NLU)</strong>
            </p>
        </md-list-item>
        <md-subheader class="md-primary">Datasets</md-subheader>
        <md-list-item ui-sref="smsnp" data-state="smsnp" md-ink-ripple="#ffffff" ng-click="null">
            <p>
                <strong>NP-Annotated SMS</strong>
            </p>
        </md-list-item>
        <md-list-item ui-sref="maltext" data-state="maltext" md-ink-ripple="#ffffff" ng-click="null">
            <p>
                <strong>MalwareTextDB</strong>
            </p>
        </md-list-item>
        <md-list-item ui-sref="matis" data-state="matis" md-ink-ripple="#ffffff" ng-click="null">
            <p>
                <strong>Multilingual ATIS</strong>
            </p>
        </md-list-item>
    </md-content>

</md-sidenav>